body {
    background-color: #000000;
    color: #ffffff;
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    margin: 0;
    padding: 10px;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    background-color: #333;
}